<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_stat_recording"
        android:label="柿柿录音"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShishiRecorder">
        <activity
            android:name="com.warptr.CaptureCapMP3.SimpleMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.warptr.CaptureCapMP3.InternalAudioRecordingService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <service
            android:name="com.warptr.CaptureCapMP3.InternalAudioTileService"
            android:exported="true"
            android:icon="@drawable/ic_stat_recording"
            android:label="内部录音"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>
